// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

// -------- //
// CONTENTS //
// -------- //

// - Input (mouse, keyboard)
// - Output (displays)
// - Layout (borders, gaps, animations, windowrules)
// - Key Binds


// Also, a few miscellaneous options here:

spawn-at-startup "swaync" // notification daemon
spawn-at-startup "wbg" "-s" "/home/pgattic/.config/wallpaper/wedding_temple.jpg"
spawn-at-startup "waybar"
screenshot-path "~/screenshots/%Y-%m-%d %H-%M-%S.png" // `man strftime`

// For when it's ready
// spawn-at-startup "ghostty" "--gtk-single-instance=true" "--quit-after-last-window-closed=false" "--initial-window=false"

environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto" // Prefer Wayland for electron apps (doesn't always work)
  DISPLAY ":0" // required for X11 apps to connect to xwayland-satellite properly
}

// ----- //
// INPUT //
// ----- //

// https://github.com/YaLTeR/niri/wiki/Configuration:-Input
input {
  keyboard {
    // `man xkeyboard-config`
    xkb {
      // layout "us"
      options "caps:escape"
    }
    numlock
  }

  touchpad {
    // off
    tap
    // dwt // Disable when typing
    // dwtp // Disable when using trackpoint
    drag-lock // Keep dragging for a short period after lifting finger
    natural-scroll

    // Two fingers for right click, three for middle click
    click-method "clickfinger"
    tap-button-map "left-right-middle"

    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "two-finger"
    // disabled-on-external-mouse
  }

  mouse {
    // off
    // natural-scroll
    accel-speed -0.7
    // accel-profile "flat"
    // scroll-method "no-scroll"
  }

  trackpoint {
    // off
    // natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "on-button-down"
    // scroll-button 273
    // middle-emulation
  }

  // Cursor moves with focus change
  warp-mouse-to-focus

  focus-follows-mouse max-scroll-amount="34%"
}


// ------ //
// OUTPUT //
// ------ //

// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
// `niri msg outputs`
output "eDP-1" {
  // off

  // "<width>x<height>" or "<width>x<height>@<refresh rate>"
  // mode "1920x1080@120.030"

  scale 1.0

  // normal, 90, 180, 270, flipped, flipped-90, flipped-180, flipped-270
  transform "normal"

  // position x=0 y=0
}

// output "HDMI-A-2" {
//   scale 1.0
// }


// ------ //
// LAYOUT //
// ------ //

// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
// Color formats:
// - CSS named colors: "red"
// - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
// - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.
layout {
  gaps 8
  // background-color "transparent"

  // Mod+R switches windows between these sizes
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667

    // fixed 1920
  }
  always-center-single-column
  // center-focused-column "always"

  // Mod+Shift+R toggles between these heights
  // preset-window-heights { }

  // Default new width of a window
  default-column-width { proportion 0.5; }

  focus-ring {
    // off
    width 2
    // Color of the ring on the active monitor.
    active-color "#7fc8ff"
    // Color of the ring on inactive monitors.
    inactive-color "#505050"
  }

  border {
    off
    width 2
    active-color "#7fc8ff"
    inactive-color "#505050"
    urgent-color "#9b0000"

    // Also see https://github.com/YaLTeR/niri/wiki/Configuration:-Layout#gradients
  }

  // https://github.com/YaLTeR/niri/wiki/Configuration:-Layout#shadow
  shadow {
    // on
    softness 5 // Blends the border
    spread 1 // Expands the borders of the shadow
    offset x=0 y=0
    color "#0007"
  }

  tab-indicator {
    hide-when-single-tab
    width 16
    gap 8
    length total-proportion=1.0
    position "left"
    place-within-column
    // corner-radius 8
    gaps-between-tabs 8
  }
}

cursor {
  xcursor-theme "Bibata-Modern-Classic"
  xcursor-size 24
  hide-when-typing
  hide-after-inactive-ms 1000
}

prefer-no-csd // No client-side decorations

// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
  // off
  // slowdown 0.5 // Values below 1 here speed them up
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

window-rule {
  // geometry-corner-radius 8 // Rounded corners
  clip-to-geometry true // Dont let windows draw over the border/focus ring
}

// KDE Connect Presentation Pointer fix
window-rule {
  match app-id=r"org.kde.kdeconnect.daemon"
  open-floating true
  open-fullscreen false
  default-floating-position x=0 y=0 relative-to="top-left"

  // Adjust these to your monitor's resolution
  min-width 1920
  min-height 1080

  // Control opacity of pointer
  // opacity 1.0

  tiled-state true

  focus-ring {
    off
  }
  border {
    off
  }
  shadow {
    off
  }
  draw-border-with-background false
}

// Put swaybg inside the overview backdrop. Also works with `overview:workspace-shadow:off` and `layout:background-color "transparent"`
// layer-rule {
//   match namespace="^wallpaper$"
//   place-within-backdrop true
// }

overview {
  zoom 0.25
  workspace-shadow {
    // off
  }
}


// --------- //
// KEY BINDS //
// --------- //

binds {
  // Uses XKB names for the keys
  // Most actions that you can bind here can also be invoked programmatically with
  // `niri msg action do-something`.

  Mod+Shift+Slash { show-hotkey-overlay; }

  Mod+Return hotkey-overlay-title="Terminal" { spawn "kitty"; }
  // Mod+Return hotkey-overlay-title="Terminal" { spawn "ghostty" "--gtk-single-instance=true"; }
  Mod+N hotkey-overlay-title="Quick Note" { spawn "kitty" "-e" "nvim" "note.md"; }
  // Mod+N hotkey-overlay-title="Quick Note" { spawn "ghostty" "--gtk-single-instance=true" "-e" "nvim" "note.md"; }
  // Mod+T hotkey-overlay-title="Quick terminal" { spawn "kitten" "quick-access-terminal"; }
  Mod+Space hotkey-overlay-title="Application launcher (fuzzel)" { spawn "fuzzel"; }
  Mod+E hotkey-overlay-title="File manager" { spawn "dolphin"; }
  // Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

  // The allow-when-locked=true property makes them work even when the session is locked.
  XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
  XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
  XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
  XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "10%+"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "10%-"; }

// Open/close the Overview: a zoomed-out view of workspaces and windows.
  // You can also move the mouse into the top-left hot corner,
  // or do a four-finger swipe up on a touchpad.
  Mod+O repeat=false { toggle-overview; }

  Mod+Shift+Q { close-window; }

  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }
  Mod+H     { focus-column-left; }
  Mod+J     { focus-workspace-down; }
  Mod+K     { focus-workspace-up; }
  Mod+L     { focus-column-right; }

  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Down  { move-window-down; }
  Mod+Shift+Up    { move-window-up; }
  Mod+Shift+Right { move-column-right; }
  Mod+Shift+H     { move-column-left; }
  Mod+Shift+J     { move-column-to-workspace-down; }
  Mod+Shift+K     { move-column-to-workspace-up; }
  Mod+Shift+L     { move-column-right; }

  // Alternative commands that move across workspaces when reaching
  // the first or last window in a column.
  // Mod+J     { focus-window-or-workspace-down; }
  // Mod+K     { focus-window-or-workspace-up; }
  // Mod+Shift+J     { move-window-down-or-to-workspace-down; }
  // Mod+Shift+K     { move-window-up-or-to-workspace-up; }

  Mod+Home { focus-column-first; }
  Mod+End  { focus-column-last; }
  Mod+Shift+Home { move-column-to-first; }
  Mod+Shift+End  { move-column-to-last; }

  Mod+Ctrl+Left  { focus-monitor-left; }
  Mod+Ctrl+Down  { focus-monitor-down; }
  Mod+Ctrl+Up    { focus-monitor-up; }
  Mod+Ctrl+Right { focus-monitor-right; }
  Mod+Ctrl+H     { focus-monitor-left; }
  Mod+Ctrl+J     { focus-monitor-down; }
  Mod+Ctrl+K     { focus-monitor-up; }
  Mod+Ctrl+L     { focus-monitor-right; }

  Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
  Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
  Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
  Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
  Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

  // Alternatively, there are commands to move just a single window:
  // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
  // ...

  // And you can also move a whole workspace to another monitor:
  // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
  // ...

  Mod+Page_Down      { focus-workspace-down; }
  Mod+Page_Up        { focus-workspace-up; }
  Mod+U              { focus-window-down; }
  Mod+I              { focus-window-up; }
  Mod+Shift+Page_Down { move-column-to-workspace-down; }
  Mod+Shift+Page_Up   { move-column-to-workspace-up; }
  Mod+Shift+U         { move-workspace-down; }
  Mod+Shift+I         { move-workspace-up; }

  // Alternatively, there are commands to move just a single window:
  // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
  // ...

  // Metaphorical "whack with a shovel" (https://futurism.com/the-byte/nasa-mars-lander-hit-itself-shovel)
  // https://github.com/JakeStanger/ironbar/issues/1044
  Mod+Ctrl+Page_Down { move-workspace-down; }
  Mod+Ctrl+Page_Up   { move-workspace-up; }
  Mod+Ctrl+U         { move-workspace-down; }
  Mod+Ctrl+I         { move-workspace-up; }
  // Mod+Ctrl+Page_Down { spawn "bash" "-c" "niri msg action move-workspace-down && ironbar reload"; }
  // Mod+Ctrl+Page_Up   { spawn "bash" "-c" "niri msg action move-workspace-up && ironbar reload"; }
  // Mod+Ctrl+U         { spawn "bash" "-c" "niri msg action move-workspace-down && ironbar reload"; }
  // Mod+Ctrl+I         { spawn "bash" "-c" "niri msg action move-workspace-up && ironbar reload"; }

  // https://github.com/YaLTeR/niri/wiki/Configuration:-Key-Bindings#scroll-bindings
  Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
  Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
  Mod+WheelScrollRight      { focus-column-right; }
  Mod+WheelScrollLeft       { focus-column-left; }

  // Usually scrolling up and down with Shift in applications results in
  // horizontal scrolling; these binds replicate that.
  Mod+Shift+WheelScrollDown      { focus-column-right; }
  Mod+Shift+WheelScrollUp        { focus-column-left; }

  Mod+Ctrl+WheelScrollDown cooldown-ms=150 { toggle-overview; }
  Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { toggle-overview; }

  // Mod+TouchpadScrollDown { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02+"; }
  // Mod+TouchpadScrollUp   { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.02-"; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  // Switches focus between the current and the previous workspace.
  // Mod+Tab { focus-workspace-previous; }

  Mod+BracketLeft  { consume-or-expel-window-left; }
  Mod+BracketRight { consume-or-expel-window-right; }
  Mod+Comma  { consume-window-into-column; }
  Mod+Period { expel-window-from-column; }

  Mod+R { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-window-height; }
  Mod+Ctrl+R { reset-window-height; }
  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }

  // Expand the focused column to space not taken up by other fully visible columns.
  // Makes the column "fill the rest of the space".
  Mod+Ctrl+F { expand-column-to-available-width; }

  Mod+C { center-column; }

  // Center all fully visible columns on screen.
  Mod+Ctrl+C { center-visible-columns; }

  Mod+Minus { set-column-width "-10%"; }
  Mod+Equal { set-column-width "+10%"; }
  Mod+Shift+Minus { set-window-height "-10%"; }
  Mod+Shift+Equal { set-window-height "+10%"; }

  Mod+Shift+Space { toggle-window-floating; }
  // Mod+Space       { switch-focus-between-floating-and-tiling; }

  Mod+W { toggle-column-tabbed-display; }

  Print { screenshot; }
  Ctrl+Print { screenshot-screen; }
  Mod+Print { screenshot-window; }

  // Forces a remote or virtual desktop to forward keybinds
  Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

  // The quit action will show a confirmation dialog to avoid accidental exits.
  Mod+Shift+E { quit; }

  Mod+Shift+P { power-off-monitors; }

  // Disable the keys I only ever hit on accident
  Home { spawn ; }
  End { spawn ; }
  Page_Up { spawn ; }
  Page_Down { spawn ; }
}

