
// https://yalter.github.io/niri/Configuration%3A-Introduction.html

include "input.kdl"
include "output.kdl"
include "binds.kdl"
include "layout.kdl"

// Miscellaneous options

spawn-at-startup "swaync" // notification daemon
spawn-at-startup "wbg" "-s" "/home/pgattic/.config/wallpaper/wedding_temple.jpg"
spawn-at-startup "waybar"
screenshot-path "~/screenshots/%Y-%m-%d %H-%M-%S.png" // `man strftime`

// For when it's ready
// spawn-at-startup "ghostty" "--gtk-single-instance=true" "--quit-after-last-window-closed=false" "--initial-window=false"

environment {
  ELECTRON_OZONE_PLATFORM_HINT "auto" // Prefer Wayland for electron apps (doesn't always work)
  DISPLAY ":0" // required for X11 apps to connect to xwayland-satellite properly
}

