
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
  keyboard {
    // `man xkeyboard-config`
    xkb {
      // layout "us"
      options "caps:escape"
    }
    numlock
  }

  touchpad {
    // off
    tap
    // dwt // Disable when typing
    // dwtp // Disable when using trackpoint
    drag-lock // Keep dragging for a short period after lifting finger
    natural-scroll

    // Two fingers for right click, three for middle click
    click-method "clickfinger"
    tap-button-map "left-right-middle"

    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "two-finger"
    // disabled-on-external-mouse
  }

  mouse {
    // off
    // natural-scroll
    accel-speed -0.7
    // accel-profile "flat"
    // scroll-method "no-scroll"
  }

  trackpoint {
    // off
    // natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "on-button-down"
    // scroll-button 273
    // middle-emulation
  }

  // Cursor moves with focus change
  warp-mouse-to-focus

  focus-follows-mouse max-scroll-amount="34%"
}

gestures {
  hot-corners {
    off
  }
}

recent-windows { // Alt+Tab behavior
  off
}

