
// https://github.com/YaLTeR/niri/wiki/Configuration:-Layout
// Color formats:
// - CSS named colors: "red"
// - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
// - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

layout {
  gaps 8
  // background-color "transparent"

  // Mod+R switches windows between these sizes
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667

    // fixed 1920
  }
  always-center-single-column
  // center-focused-column "always"

  // Mod+Shift+R toggles between these heights
  // preset-window-heights { }

  // Default new width of a window
  default-column-width { proportion 0.5; }

  focus-ring {
    // off
    width 2
    // Color of the ring on the active monitor.
    active-color "#7fc8ff"
    // Color of the ring on inactive monitors.
    inactive-color "#505050"
  }

  border {
    off
    width 2
    active-color "#7fc8ff"
    inactive-color "#505050"
    urgent-color "#9b0000"

    // Also see https://github.com/YaLTeR/niri/wiki/Configuration:-Layout#gradients
  }

  // https://github.com/YaLTeR/niri/wiki/Configuration:-Layout#shadow
  shadow {
    // on
    softness 5 // Blends the border
    spread 1 // Expands the borders of the shadow
    offset x=0 y=0
    color "#0007"
  }

  tab-indicator {
    hide-when-single-tab
    width 16
    gap 8
    length total-proportion=1.0
    position "left"
    place-within-column
    // corner-radius 8
    gaps-between-tabs 8
  }
}

cursor {
  xcursor-theme "Bibata-Modern-Classic"
  xcursor-size 24
  hide-when-typing
  hide-after-inactive-ms 1000
}

prefer-no-csd // No client-side decorations

// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
  // off
  // slowdown 0.5 // Values below 1 here speed them up
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules

window-rule {
  // geometry-corner-radius 8 // Rounded corners
  clip-to-geometry true // Dont let windows draw over the border/focus ring
}

// KDE Connect Presentation Pointer fix
window-rule {
  match app-id=r"org.kde.kdeconnect.daemon"
  open-floating true
  open-fullscreen false
  default-floating-position x=0 y=0 relative-to="top-left"

  // Adjust these to your monitor's resolution
  min-width 1920
  min-height 1080

  // Control opacity of pointer
  // opacity 1.0

  tiled-state true

  focus-ring {
    off
  }
  border {
    off
  }
  shadow {
    off
  }
  draw-border-with-background false
}

// Put swaybg inside the overview backdrop. Also works with `overview:workspace-shadow:off` and `layout:background-color "transparent"`
// layer-rule {
//   match namespace="^wallpaper$"
//   place-within-backdrop true
// }

overview {
  zoom 0.25
  workspace-shadow {
    // off
  }
}

