
// https://yalter.github.io/niri/Configuration%3A-Outputs.html
// `niri msg outputs`

output "eDP-1" {
  // off

  // "<width>x<height>" or "<width>x<height>@<refresh rate>"
  // mode "1920x1080@120.030"

  scale 1.0

  // normal, 90, 180, 270, flipped, flipped-90, flipped-180, flipped-270
  // transform "normal"

  // position x=0 y=0
}

// output "HDMI-A-2" {
//   scale 1.0
// }

